/* Estilo para o contêiner principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

/* Estilo para o formulário */
#produtosForm {
    border: 2px solid #4CAF50;
    padding: 20px 5px 10px 5px;
    border-radius: 10px;
    width: 80%; /* Aumenta a largura do formulário */
    max-width: 1200px; /* Limita a largura máxima para não exceder em telas grandes */
}

/* Estilo para o título */
h1 {
    color: #01a17f;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px; /* Ajuste o valor conforme necessário */
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.9em; /* Reduz o tamanho da fonte */
    font-weight: normal; /* Ajusta o peso da fonte para normal */
    color: #666; /* Define uma cor mais suave */
    margin-top: 0; /* Remove o espaçamento acima do <h4> se necessário */
}

/* Estilo para o formulário */
.form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha horizontalmente o conteúdo do formulário */
    gap: 20px; /* Espaçamento maior entre itens dentro do formulário */
    margin-bottom: 50px;
    max-width: 100%; /* Garante que o formulário não ultrapasse o contêiner */
}


/* Estilo para o contêiner de itens do formulário */
#formContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os itens do formulário (menor) */
}

.form-item {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    width: calc(33.333% - 20px); /* Ajuste conforme necessário */
    box-sizing: border-box;
}

.form-item label {
    margin-right: 5px; /* Espaço abaixo dos labels */
    font-size: 14px; /* Ajusta o tamanho da fonte do label */
}

.form-item input {
    margin-right: 10px; /* Espaço abaixo dos inputs */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para os campos de entrada do formulário */
input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para os botões */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.remover {
    width: 40px; /* Largura fixa do botão */
    height: 40px; /* Altura fixa do botão */
    background-color: #f80707; /* Cor de fundo */
    background-image: url('lixeira-fechada.png'); /* Imagem de fundo */
    background-size: 20px 20px; /* Tamanho da imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Bordas arredondadas (opcional) */
    cursor: pointer; /* Muda o cursor quando passa sobre o botão */
    padding: 0; /* Remove padding interno */
    margin-left: 10px; /* Espaçamento à esquerda do botão */
}

.remover:hover {
    background-color: #f80707;
    background-image: url('lixeira-aberta.png');
    background-size: 30px 30px;
}


/* Estilo para o botão ao passar o mouse */
button:hover {
    background-color: #45a049;
}

/* Estilo para o contêiner de resultados */
#resultContainer {
    margin: 20px;
    position: relative; /* O spinner agora será posicionado relativo a essa div */
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

/* Estilo para as células da tabela */
table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
}

/* Estilo para o cabeçalho da tabela */
table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Estilo para linhas pares da tabela */
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para o hover sobre as linhas da tabela */
table tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para o contêiner dos totais */
#totalNutrients {
    margin: 20px;
    font-size: 16px;
}

/* Estilo para os parágrafos dentro do contêiner de totais */
#totalNutrients p {
    margin: 5px 0;
}

.spinner {
    width: 40px; /* Tamanho do spinner */
    height: 40px;
    border: 4px solid #f3f3f3; /* Cor de fundo do spinner */
    border-top: 4px solid #1cffbb; /* Cor da borda superior */
    border-radius: 50%; /* Forma circular */
    animation: spin 1s linear infinite; /* Animação de rotação */
    margin: 20px auto; /* Centraliza o spinner horizontalmente e adiciona espaço acima e abaixo */
}

/* Animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ocultar o spinner por padrão */
.hidden {
    display: none;
}

.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000; /* Garantir que a mensagem esteja acima de outros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    background-color: #721c24;
    cursor: pointer;
}

.close-button:hover {
    background-color: #dd3646;
}

.hidden {
    display: none;
}

/* Ajustes para telas grandes */
@media (min-width: 1024px) {
    #formContainer {
        justify-content: space-between; /* Distribui os itens ao longo do contêiner */
    }

    .form-item {
        width: calc(80% - 20px); /* Largura de aproximadamente um quarto do contêiner, considerando o espaçamento */
        min-width: 300px; /* Aumenta a largura mínima para garantir que os itens não fiquem muito pequenos */
    }
}
/* Ajustes para telas pequenas */
/* Ajustes para telas pequenas */
@media (max-width: 768px) {
    #produtosForm {
        width: 100%; /* Ajusta a largura do formulário para ocupar toda a tela */
        padding: 10px; /* Ajusta o padding para se adequar a telas menores */
    }

    #formContainer {
        flex-direction: column; /* Alinha os itens em coluna para telas pequenas */
        gap: 10px; /* Ajusta o espaço entre os itens */
        width: 100%; /* Faz com que o contêiner de itens ocupe toda a largura */
    }

    .form-item {
        width: 100%; /* Faz com que cada item ocupe a largura total do contêiner */
        display: flex;
        flex-direction: column; /* Alinha os elementos internamente em coluna */
        padding: 10px;
        height: auto; /* Ajusta a altura para se adaptar ao conteúdo */
        box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura total */
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .form-item label {
        font-size: 14px; /* Ajusta o tamanho da fonte do label */
        margin-bottom: 5px; /* Espaço abaixo dos labels */
        display: block; /* Faz com que o label ocupe a linha inteira */
    }

    .form-item input {
        text-align: center;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 10px; /* Espaço abaixo dos inputs */
        width: calc(100% - 20px); /* Faz com que o input ocupe quase toda a largura do contêiner, considerando o padding */
    }

    .form-item button {
        width: 100%; /* Faz com que o botão ocupe a largura total do contêiner */
        margin: 10px 0; /* Adiciona margem em cima e embaixo do botão */
        padding: 10px; /* Ajusta o padding para se adequar ao layout */
    }

    .remover {
        width: 30px; /* Largura menor para o botão de remoção */
        height: 30px; /* Altura menor para o botão de remoção */
        background-color: #f80707; /* Cor de fundo */
        background-image: url('lixeira-fechada.png'); /* Imagem de fundo */
        background-size: 15px 15px; /* Ajusta o tamanho da imagem */
        background-repeat: no-repeat; /* Evita que a imagem se repita */
        background-position: center; /* Centraliza a imagem */
        border: none; /* Remove a borda padrão do botão */
        border-radius: 5px; /* Bordas arredondadas (opcional) */
        cursor: pointer; /* Muda o cursor quando passa sobre o botão */
        padding: 0; /* Remove padding interno */
        margin-left: 0; /* Remove o espaço à esquerda do botão */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .remover:hover {
        background-image: url('lixeira-aberta.png');
        background-size: 15px 15px; /* Ajusta o tamanho da imagem ao passar o mouse */
    }

    .remover-clicked {
        background-image: url('lixeira-aberta.png'); /* Imagem que aparece quando o botão é clicado */
        background-size: 25px 25px;
    }
}
